{%extends "base.html" %}

{% block title %}About LibraryHippo{% endblock %}

{% block header %}About LibraryHippo{% endblock %}

{% block content %}
<h2>FAQs</h2>
<div class="about-item">
  <div class="question">What's all this about, then?</div>
  <div class="answer">LibraryHippo is a hobby project that I work on in my spare time. I wrote it to provide
    simlar functionality to that delivered by the Library <a
                                                             href="http://libraryelf.com/">Elf</a>, but only for
    libraries that I frequent. It helps me manage my family's library
    cards.
  </div>
</div>

<div class="about-item">
  <div class="question">What's this Google Account I need to sign up
    with?</div>
  <div class="answer">It's an <a href="http://www.google.com/support/accounts/bin/answer.py?hl=en&answer=27439">account that's issued and managed by Google</a>. If you use
    Gmail or Google Maps or iGoogle or Picasa or tonnes of other services,
    you probably already have a Google Account. LibraryHippo uses them for
    authentication because they're very easy and secure - your credentials
    are encrypted when you enter them, and only handled by Google. LibraryHippo
    never sees your password, but once you log in, LibraryHippo does know
    your e-mail address, and uses it to remember your settings and to send
    you e-mail.
  </div>
</div>

<div class="about-item">
  <div class="question">What does LibraryHippo do with my personal information?</div>
  <div class="answer">Not very much. LibraryHippo only knows your e-mail address, and
    your name, library card number, and PIN for each library account you
    sign up with. That's not overly personal, when you think about
    it. LibraryHippo uses the information to:
    <ol>
      <li>log into the libraries to check your cards</li>
      <li>send you e-mail</li>
    </ol>
  <div class="answer">Currently, LibraryHippo stores a minimal history
    of the items you take out or put on hold - only the status of your
    last card check. This is done so that LibaryHippo can generate a
    daily summary for you family, even if there have been some
    problems checking your library cards. LibraryHippo doesn't provide
    this information to anyone else, at least until
    the <a href="http://canada.gc.ca/home.html">government</a> comes
    asking, but that's pretty unlikely.</div>
</div>

<div class="about-item" id="check_failed">
  <div class="question">Why can't LibraryHippo check my card?</div>
  <div class="answer">
    <p>It could be one of a couple of things. To see if the maintainers are aware of any far-reaching
        problems, see <a href="https://plus.google.com/u/0/114157100764670177530">LibraryHippo's Google+
        page for recent updates.</a></p>
    <p>Here are the kinds of things that go wrong:</p>

    <ul>
      <li>Sometimes the web interface for a library catalogue will be down for a
        while. Maybe it's undergoing maintenance, or maybe there's some kind
        of problem there. If the failures are recent and haven't been going on
        long, this is probably it.</li>

      <li>LibraryHippo is not part of the libraries' ecosystem. It works
        by hitting the same web pages that humans do and "screen scraping"
        them. Sometimes the libraries will change their web pages in a way
        that confuses LibraryHippo. In such a case, the site maintainers
        will work as quickly as possible to adapt to the change.</li>

      <li>Alternatively, if you've changed something about your card or
        account - you've a new card (and number), cancelled a card, or
        have changed your PIN, LibraryHippo may just need the new
        information. Visit your <a href="/account">account page</a> and
        make sure everything's correct.</li>

      <li>You can always try to diagnose a failure by visiting the library's web
        page and trying to log into your account manually. It may reveal
        additional information.</li>
    </ul>
  </div>
</div>

<div class="about-item">
  <div class="question">How do I get help?</div>
  <div class="answer">Send e-mail to <a
                                      href="mailto:librarianhippo@gmail.com?subject=LibraryHippo+help">librarianhippo@gmail.com</a>.</div>
</div>

<h2>Colophon</h2>
<ul>
  <li>The really cute hippo logo was designed by Katie from <a
                                                               href="http://smile-recipe.net">Smile Recipe</a>.</li>
  <li>LibraryHippo is written in <a href="http://python.org/">Python</a> on the <a
                                                                                   href="http://code.google.com/appengine/">Google App Engine</a>.</li>
  <li>There's a <a href="http://code.google.com/p/libraryhippo/">Google
      Code Project</a> that holds the source.</li>
</div>



{% endblock %}
