<div>
{% if info %}
<table id="info" class="grid">
<tbody>
{% for info_item in info %}
  <tr>
    <td>{{ info_item.patron_name }}</td>
    <td>{{ info_item.library_name }}</td>
    <td>{{ info_item.message }}</td>
  </tr>
{% endfor %}
</tbody>
</table>
{% endif %}
{% if items_due %}
<table id="items_due" class="grid">
<tbody>
{% for item in items_due %}
  <tr>
    <td>{{ item.title|link(item.url) }}</td>
    <td>{{ item.author|default("&nbsp;") }}</td>
    <td>{{ item.user|link(item.items_url) }}</td>
    <td>{{ item.library_name }}</td>
    <td>{{ item.status|duedate }}{% if item.status_notes %}</td><td><em>{{ item.status_notes|join(",<br>") }}</em>{% endif %}</td>
    <td class="sortkey">{{ item.sortkey() }}</td>
  </tr>
{% endfor %}
</tbody>
</table>
{% endif %}
{% if holds_ready %}
<table id="holds_ready" class="grid">
<tbody>
{% for hold in holds_ready %}
  <tr>
    <td>{{ hold.title|link(hold.url) }}</td>
    <td>{{ hold.author }}</td>
    <td>{{ hold.user|link(hold.holds_url) }}</td>
    <td>{{ hold.pickup }}</td>
    <td>{{ hold.status_text() }}{% if hold.status_notes %}</td><td><em>{{ hold.status_notes|join(",<br>") }}</em>{% endif %}</td>
    <td class="sortkey">{{ hold.sortkey() }}</td>
  </tr>
{% endfor %}
</tbody>
</table>
{% endif %}
{% if items_not_due %}
<table id="items_not_due" class="grid">
<tbody>
{% for item in items_not_due %}
  <tr>
    <td>{{ item.title|link(item.url) }}</td>
    <td>{{ item.author|default("&nbsp;") }}</td>
    <td>{{ item.user|link(item.items_url) }}</td>
    <td>{{ item.library_name }}</td>
    <td>{{ item.status|duedate }}{% if item.status_notes %}</td><td><em>{{ item.status_notes|join(",<br>") }}</em>{% endif %}</td>
    <td class="sortkey">{{ item.sortkey() }}</td>
  </tr>
{% endfor %}
</tbody>
</table>
{% endif %}
{% if holds_not_ready %}
<table id="holds_not_ready" class="grid">
<tbody>
{% for hold in holds_not_ready %}
  <tr>
    <td>{{ hold.title|link(hold.url) }}</td>
    <td>{{ hold.author }}</td>
    <td>{{ hold.user|link(hold.holds_url) }}</td>
    <td>{{ hold.pickup }}</td>
    <td>{{ hold.status_text() }}{% if hold.status_notes %}</td><td><em>{{ hold.status_notes|join(",<br>") }}</em>{% endif %}</td>
    <td class="sortkey">{{ hold.sortkey() }}</td>
  </tr>
{% endfor %}
</tbody>
</table>
{% endif %}
</div>
