<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
    <title>LibraryHippo</title>
  </head>
  <body>
    <header>
      <div id="logo">
        <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='logo.png') }}"></a>
      </div>
      <div id="masthead">
        <h1>LibraryHippo 2020</h1>
        <nav>
          <ul>
            {% if current_user.is_anonymous %}
            <li><a href="{{ url_for('login', provider='google') }}">login</a></li>
            {% else %}
            <li><a href="{{ url_for('logout') }}">logout</a></li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </header>
    <main>
    {% block body %}{% endblock %}
    </main>
  </body>
</html>