<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <link rel="stylesheet" href="/static/stylesheets/main.css" />
    <link rel="icon" type="image/gif" href="/static/favicon.gif"/>
    <title>{% block title %}LibraryHippo{% endblock %}</title>
    {% block scripts %}{% endblock scripts %}
</head>

<body>
  <div id="header">
    <div style="float: left;"><a href="/"><img border="0" src="/static/logo.png"></a></div>
    <h1>{% block header %}LibraryHippo{% endblock header %}</h1>
    <div id="menu">
        <ul>
          <li><a href="/summary">check cards</a></li>
          <li><a href="/account">account</a></li>
         {% if control_panel_url %}
         <li><a href="{{ control_panel_url}}">control panel</a></li>
         {% endif %}
         {% if stop_impersonating_url %}
         <li><a href="{{ stop_impersonating_url }}">stop impersonating</a></li>
         {% endif %}
         {% if logout_url %}
         <li><a href="{{ logout_url }}">logout</a></li>
         {% endif %}
         {% if login_url %}
         <li><a href="{{ login_url }}">login</a></li>
         {% endif %}        </ul>
        
    </div> <!-- menu -->
  </div> <!-- header -->

    <div id="content">
        {% block content %}{% endblock %}
    </div> <!-- content -->
</body>
</html>
