<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<html>
<body>
  <div id="header">
    <div style="float: left;"><img src="https://www.libraryhippo.com/static/email_logo.gif"></div>
    <div style="color: white;font-size: 30;padding-top:10px;">LibraryHippo</div>
    </div>
  </div>
<p style="padding-top:1em;"><a href="https://www.libraryhippo.com/summary">Check your
family's account summary</a> - this e-mail only contains items that
are due or ready for pickup.</p>
{% if info %}
<h2>{{ info|length }}&nbsp;Message{{ info|length|pluralize }}</h2>
<table id="messages" class="grid" style="border-collapse: collapse">
<thead>
  <tr>
    <th style="text-align: left; padding: 1px 1em;">Patron</th>
    <th style="text-align: left; padding: 1px 1em;">Library</th>
  </tr>
</thead>
<tbody>
{% for info_item in info %}
  <tr style="border-top: 1px solid; border-color: #CCCCCC;">
     <td style="text-align: left; padding: 1px 1em;">{{ info_item.patron_name }}</td>
     <td style="text-align: left; padding: 1px 1em;">{{ info_item.library_name }}</td>
     <td style="text-align: left; padding: 1px 1em;">{{ info_item.message }}</td>
  </tr>
{% endfor %}
</tbody>
</table>
{% endif %}
{% if items_due %}
<h2>{{ items_due|length }}&nbsp;Thing{{ items_due|length|pluralize }} you should take back</h2>
<table id="items_due" class="grid" style="border-collapse: collapse">
<thead>
  <tr >
     <th style="text-align: left; padding: 1px 1em;">Item</th>
     <th style="text-align: left; padding: 1px 1em;">Author</th>
     <th style="text-align: left; padding: 1px 1em;">Patron</th>
     <th style="text-align: left; padding: 1px 1em;">Library</th>
     <th style="text-align: left; padding: 1px 1em;">Due</th>
  </tr>
</thead>
<tbody>
{% for item in items_due %}
  <tr style="border-top: 1px solid; border-color: #CCCCCC;">
     <td style="text-align: left; padding: 1px 1em;">{{ item.title|link(item.url) }}</td>
     <td style="text-align: left; padding: 1px 1em;">{{ item.author|default("&nbsp;") }}</td>
     <td style="text-align: left; padding: 1px 1em;">{{ item.user|link(item.items_url) }}</td>
     <td style="text-align: left; padding: 1px 1em;">{{ item.library_name }}</td>
     <td style="text-align: left; padding: 1px 1em;">{{ item.status|duedate }}{% if item.status_notes %}</td><td><em>{{ item.status_notes|join(",<br>") }}</em>{% endif %}</td>
  </tr>
{% endfor %}
</tbody>
</table>
{% endif %}
{% if holds_ready %}
<h2>{{ holds_ready|length }}&nbsp;Thing{{ holds_ready|length|pluralize }} you can have</h2>
<table id="holds" class="grid" style="border-collapse: collapse">
<thead>
  <tr>
     <th style="text-align: left; padding: 1px 1em;">Item</th>
     <th style="text-align: left; padding: 1px 1em;">Author</th>
     <th style="text-align: left; padding: 1px 1em;">Patron</th>
     <th style="text-align: left; padding: 1px 1em;">Pickup</th>
     <th style="text-align: left; padding: 1px 1em;">Status</th>
  </tr>
</thead>
<tbody>
{% for hold in holds_ready %}
  <tr style="border-top: 1px solid; border-color: #CCCCCC;">
     <td style="text-align: left; padding: 1px 1em;">{{ hold.title|link(hold.url) }}</td>
     <td style="text-align: left; padding: 1px 1em;">{{ hold.author|default("&nbsp;") }}</td>
     <td style="text-align: left; padding: 1px 1em;">{{ hold.user|link(hold.holds_url) }}</td>
     <td style="text-align: left; padding: 1px 1em;">{{ hold.pickup }}</td>
     <td style="text-align: left; padding: 1px 1em;">{{ hold.status_text() }}{% if hold.status_notes %}</td><td><em>{{ hold.status_notes|join(",<br>") }}</em>{% endif %}</td>
  </tr>
{% endfor %}
</tbody>
</table>
{% endif %}
</body>
</html>
