{%extends "summary_base.html" %}

{% block title %}
LibraryHippo Account Summary
{% endblock title %}

{% block scripts %}
    {{ super() }}
    <script src="http://ajax.microsoft.com/ajax/jQuery/jquery-1.4.2.min.js"></script>
    <script src="/static/scripts/lh_jquery.js"></script>
{% endblock scripts %}

{% block content %}
<div id="progress">
<h2>Progress</h2>
<table class="grid">
<tbody>
{% for card in cards %}
  <tr id="{{ card.key() }}">
    <td id="throbber"><img src="/static/loading.gif"/></td>
    <td>{{ card.name }}</td>
    <td>{{ card.library.name }}</td>
    <td id="message"></td>
  </tr>
{% endfor %}
</tbody>
</table>
</div>

<div id="info" style="display: none">
<h2>0 Things you should know</h2>
<table class="grid">
<tbody>
</tbody>
</table>
</div>

<div id="items_due" style="display: none">
<h2>0 Things you should take back</h2>
<table class="grid">
<thead>
  <tr >
    <th>Item</th>
    <th>Author</th>
    <th>Patron</th>
    <th>Library</th>
    <th>Due</th>
  </tr>
</thead>
<tbody>
</tbody>
</table>
</div>
<div id="holds_ready" style="display: none">
<h2>0 Things you can have</h2>
<table class="grid">
<thead>
  <tr>
    <th>Item</th>
    <th>Author</th>
    <th>Patron</th>
    <th>Pickup</th>
    <th>Status</th>
  </tr>
</thead>
<tbody>
</tbody>
</table>
</div>
<div id="items_not_due" style="display: none">
<h2>0 Things you can hold on to</h2>
<table class="grid">
<thead>
  <tr>
    <th>Item</th>
    <th>Author</th>
    <th>Patron</th>
    <th>Library</th>
    <th>Due</th>
  </tr>
</thead>
<tbody>
</tbody>
</table>
</div>
<div id="holds_not_ready" style="display: none">
<h2>0 Things you want</h2>
<table class="grid">
<thead>
  <tr>
    <th>Item</th>
    <th>Author</th>
    <th>Patron</th>
    <th>Pickup</th>
    <th>Status</th>
  </tr>
</thead>
<tbody>
</tbody>
</table>
</table>

    <script>
      $(document).ready(function()
      {
        var card_keys = new Array();
        {% for card in cards %}
        card_keys.push('{{ card.key() }}');
        {% endfor %}

        check_cards(card_keys); 
      });
    </script>
{% endblock content %}
