<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <link rel="icon" type="image/gif" href="/static/favicon.gif"/>
    <title>LibraryHippo Timeout</title>
</head>

<body>
    <div id="header">
        <h1>LibraryHippo Timeout</h1>
    </div>
    <div id="content">
        <img src="/static/hippo_timeout.jpg">
        <p>Something's taking too long. Sorry about that. Maybe try again?</p>
    </div> <!-- content -->
    <div id="footer"></div>
</body>
</html>
