{%extends "base.html" %}

{% block header %}Welcome to LibraryHippo{% endblock %}

{% block content %}
<p>LibraryHippo can check your family's library accounts at the:
<ul>
<li><a href="http://www.wpl.ca/">Waterloo Public Library</a>,</li>
<li><a href="http://www.kpl.org/">Kitchener Public Library</a>, and</li>
<li><a href="http://olco.canlib.ca/client/rwl">Region of
Waterloo Library</a></li>
</ul>
</p>
<p>All you need to do is login using your Google account, give
LibraryHippo your library card and login information, and you can:</p>
<ul>
<li>see what items you have out and on hold at all libraries</li>
<li>check all of your family's accounts at once</li>
<li>receive e-mail when you should take things back (not just when
they're already overdue) or pick them up
</ul>
<p>So, <a href="/summary">get started</a> or <a href="/about">learn
more about LibraryHippo</a>.
{% endblock %}
